.stmng {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border: solid 3px #f2f2f2;
    box-shadow: 5px 5px 5px #5a5b5d;
}

.stmng h1 {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 100px;
    font-family: 'Segoe UI';
}

.stmng .content {
    margin-left: 100px;
    margin-right: 100px;
}

input[type=text],
input[type=date] {
    width: 100%;
    padding: 10px 16px;
    font-size: 20px;
    border: solid 1px #dedcdc;
    border-radius: 5px;
    transition: 0.4s;
    outline: none;
}

input[type=text]:hover,
input[type=date]:hover {
    border-color: #80c0e0;
}

input[type=text]:focus,
input[type=date]:focus {
    border: 2px solid #144697;
    box-shadow: 2px 2px 2px #072452;
}

label {
    font-size: 20px;
    font-style: italic;
}

.bt {
    width: 140px;
    height: 42px;
    margin-left: 87.5%;
    border-radius: 15px;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: #57d1c7;
    transition: 0.4s;
}

.bt:hover {
    background-color: #17645e;
}

.actions {
    margin-left: 10px;
    cursor: pointer;
}

.remove {
    color: #5a5b5d;
}

.edit {
    color: rgb(77, 199, 77);
}

.error {
    border: solid 1px rgb(236, 29, 29);
    box-shadow: 2px 2px 2px rgb(236, 29, 29);
}